<div class="n-banner">
    <img src="/res/img/technical-banner.png">
</div>
<div class="g-grid m-technical">

    <div class="n-technical f-cb">
        <ul>

            <li>
                <div class="n-technical-cell">
                    <div class="u-top-title">智能模糊控制技术</div>
                    <div class="u-line"></div>
                    <div class="u-cover">
                        <img src="/res/img/technical-1.png">
                    </div>
                    <div class="u-title">
                        <span class="u-sep"></span>
                        <span class="u-name">产品概述:</span>
                    </div>
                    <div class="u-project">

                    </div>
                    <div class="u-des">本项目是一套通用性强,无需二次开发及 编程的中央空调通用PLC控制器,
                        作为通用节 能产品推出市场,并提供通用PLC控制器的各 种对应原理及接线图纸,
                        用户只需要根据图纸 接好,设置好相关参数,经过“简单化”的操 作,即可投入运行。
                        这款“简单化”空调节能 行业通用的PLC控制器,打破...<a href="./technical_1">了解详情</a></div>
                </div>
            </li>

            <li>
                <div class="n-technical-cell">
                    <div class="u-top-title">新型水泵调压技术</div>
                    <div class="u-line"></div>
                    <div class="u-cover">
                        <img src="/res/img/technical-2.png">
                    </div>
                    <div class="u-title">
                        <span class="u-sep"></span>
                        <span class="u-name">产品概述:</span>
                    </div>
                    <div class="u-project">

                    </div>
                    <div class="u-des">这款“简单化”空调节能 行业通用的PLC控制器,打破了传统的中央空
                        调节能改造由专业公司专业技术人员实现的规 则,使大多数的普通技术工人都能灵活应用,
                        从此实现了中央空调节能改造无难事,推进我 国建筑层面的节能减排事业的发展<a href="./technical_2">了解详情</a></div>
                </div>
            </li>

        </ul>

    </div>

</div>
