<div class="n-banner">
    <img src="/res/img/technical-banner.png">
</div>
<div class="g-grid m-technical">

    <div class="u-content">
        <div class="title">开发背景</div>
        <div class="content">
            <p>中央空调在设计时通常按照天气最热、 负荷最大来设计,并且会预留10%-20%左右 的设计余量,而昼夜温差和四季变换使得所
                有中央空调系统绝大部分时间都处在部分负 荷和费高效的运行状态,这无疑造成了巨大 的能源浪费,供冷与末端需求的不平衡、操
                作人员素质和经验的参差不齐也使绝大部分 的空调设备处于低效率的运行状态,这都导 致了空调能耗的再次浪费。对设备作变频控
                制是目前较为常见的技术手段,但如果不对 整个系统作运行分析和优化控制,不摆脱人 力操作的束缚,则大部分能源浪费情况仍将 不能避免。
            </p>
            <p>康灿中央空调节能控制系统(简称 KCS3000)是为解决上述能耗的浪费问题并 深入挖掘节能空间而开发的一套节能控制系 统及装置,它融合了计算机、
                自动控制、变 频调速、群控和系统集成等技术,集控制与 管理于一体,已模块式控制箱(柜)为产品 单元,该系统拥有多项自主知识产权技术和发明专利,
                可在保证末端舒适度的前提下实 现中央空调系统综合节能15%-  40%,目前 已广泛应用于公共建筑、商业建筑和工业等 大型中央空调的配套和改造中。
            </p>
        </div>

        <div class="pic">
            <img src="/res/img/technical-note1.png">
        </div>
    </div>
</div>
