html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 "Microsoft YaHei",arial;color:#333;outline:0;}
html{background:#fff;}
a,a:hover{color:#333;}
.u-pdl4{padding-left:4px;}
.u-pdt4{padding-top:4px;}
.u-pdt15{padding-top:15px;}
.u-pdl15{padding-left:15px;}
.u-pdr15{padding-right:15px;}
.u-pdb15{padding-bottom:15px;}
.u-mgt15{margin-top:15px;}
.u-mgt20{margin-top:20px;}
.u-mgt25{margin-top:25px;}
.u-mgr15{margin-right:15px;}
.u-mgt4{margin-top:4px;}
.u-mgr4{margin-right:4px;}
.u-mgl4{margin-left:4px;}
.u-mgt4{margin-top:4px;}
.u-mgb4{margin-bottom:4px;}
.u-mgb15{margin-bottom:15px;}
.u-mgb20{margin-bottom:20px;}
.u-mgl15{margin-left:15px;}
.u-tar{text-align:right;}
.u-tac{text-align:center;}
.u-tal{text-align:left;}
.u-spbt{border-top:dotted 1px #f5f5f5;}
.u-wd40{width:40px;}
.u-wd60{width:60px;}
.u-wd80{width:80px;}
.u-wd100{width:100px;}
.u-wd120{width:120px;}
.u-wd140{width:140px;}
.u-wd200{width:200px;}
.u-wd300{width:300px;}
.u-psl{position:relative;}
.u-corl3{color:#777;}
.u-corl4{color:#b4b4b4;}
.u-cor-red{color:#d71515;}
.u-cor-org{color:#f17f0f;}
.u-vlm{vertical-align:middle;}
.u-vlt{vertical-align:top;}
.u-dsbk{display:block;}
.u-dsib{display:inline-block;}
.u-ftl{float:left;}
.u-ftr{float:right;}
.u-tar{text-align:right;}
.u-tac{text-align:center;}
.u-cspt{cursor:pointer;}
.u-mxwd{min-width:990px;max-width:1100px;margin-left:auto;margin-right:auto;}
.u-dstb{display:table;}
.u-dstbc{display:table-cell;vertical-align:top;}
.u-spbt{border-top:dotted 1px #f5f5f5;}
.u-ico{font-size:14px;vertical-align:text-bottom;}
.u-nodata{text-align:center;margin-top:30px;color:#5c5c5c;font-size:14px;}
.u-fmgp{display:table;width:100%;position:relative;table-layout:fixed;}
.u-fmgp-i{display:table-cell;line-height:1;position:relative;vertical-align:middle;}
.u-fmgp-label,.u-fmgp-bf,.u-fmgp-ipt,.u-fmgp-bt,.u-fmgp-end{display:table-cell;line-height:1;box-sizing:border-box;}
.u-fmgp-label{font-family:"Microsoft YaHei",tahoma,arial;}
.u-fmgp-bf{width:34px;border:solid 1px #dbdbdb;border-right:0;background:#dbdbdb;color:#fff;text-align:center;vertical-align:middle;font-size:14px;}
.u-fmgp-ipt{width:100%;padding:12px 12px;color:#222;border:solid 1px #dbdbdb;box-shadow:inset 0 0 3px rgba(0,0,0,0.04);z-index:2;position:relative;background:transparent;border-radius:2px;}
.u-fmgp-ipt.err{border-color:#d71515;transition:0.2s;}
.u-fmgp-ipt:focus{border-color:#1792c8;transition:0.2s;}
.u-fmgp-end{vertical-align:middle;}
.u-fmgp-bt{width:100%;line-height:28px;text-align:center;}
.u-fmgp-bt.style1{background:#1387d5;color:#fff;}
.u-fmgp-bt.style1:hover{background:#09f;}
.u-fmgp-bt.style2{background:#11ac87;color:#fff;}
.u-fmgp-hold{position:absolute;top:15px;left:10px;color:#dbdbdb;background:#fff;transition:0.2s;font-size:12px;z-index:1;}
.u-fmgp-hold.up{margin:-1px 0 0 20px;line-height:2px;box-shadow:-3px 1px 3px 1px #fff,3px 1px 3px 1px #fff;z-index:2;}
.u-select{padding:4px 10px;vertical-align:bottom;border:solid 1px #dbdbdb;border-radius:2px;}
.u-bt{display:inline-block;vertical-align:baseline;zoom:1;*display:inline;*vertical-align:auto;padding:7px 20px;background:#eee;line-height:1;border-radius:2px;-webkit-transition:0.1s;-moz-transition:0.1s;transition:0.1s;}
.u-bt:hover{cursor:pointer;background:#ddd;border-color:#c8c8c8;-webkit-transition:0.1s;-moz-transition:0.1s;transition:0.1s;}
.u-bt.style0{background:#c4282b;color:#fff;}
.u-bt.style0:hover{background:#b21d20;}
.u-bt.style1{background:#4772b2;color:#fff;}
.u-bt.style1:hover{background:#5283cc;}
.u-bt.style2{background:#00b589;color:#fff;}
.u-bt.style2:hover{background:#00a67d;}
.u-bt.style3{background:#b34f47;color:#fff;}
.u-bt.style3:hover{background:#cc5a52;}
.u-bt.style4{background:#595959;color:#fff;}
.u-bt.style4:hover{background:#4a4949;}
.u-bt.style5{background:#f17f0f;color:#fff;}
.u-bt.style5:hover{background:#ff8104;}
.u-bt.style6{background:#00b589;color:#fff;}
.u-bt.style6:hover{background:#00a67d;}
.u-bt.style7{background:#9f9f9f;color:#fff;}
.u-bt.style7:hover{background:#8c8c8c;}
.u-bt.dis{cursor:default;background:#eee;color:#fff;}
.u-bt.dis:hover{background:#eee;}
.u-bt.big{padding:14px 34px;}
.u-bt.min{padding:0px;background:transparent;text-decoration:none;color:#5c5c5c;}
.u-bt.min:hover{color:#3a3a3a;}
.u-bt.min.style3{color:#b34f47;}
.u-bt.min.style3:hover{color:#cc5a52;background:transparent;}
.u-bt.min.style2{color:#00b589;}
.u-bt.min.style2:hover{color:#00a67d;background:transparent;}
.u-bt.min.style1{color:#4772b2;}
.u-bt.min.style1:hover{color:#5283cc;background:transparent;}
.u-bt.min.style5{color:#f17f0f;}
.u-bt.min.style5:hover{color:#ff8104;background:transparent;}
.u-bt.min.style6{color:#6cbb62;}
.u-bt.min.style6:hover{color:#00a67d;background:transparent;}
.u-bt.min.style7{color:#9f9f9f;}
.u-bt.min.style7:hover{color:#8c8c8c;background:transparent;}
.u-bt.min.atv{background:#515151;color:#fff;padding:2px 14px;border-radius:0;}
.u-bt.min.atv:hover{color:#fff;background:#515151;}
.u-table{width:100%;box-sizing:border-box;border:solid 1px #eee;border-radius:2px;}
.u-table th,.u-table td{padding:15px 6px;text-align:center;border:solid 1px #f8f8f8;border-width:1px;}
.u-table th{border-bottom:solid 1px #ddd;padding-top:20px;padding-bottom:20px;font-weight:bold;font-family:"Microsoft YaHei",tahoma,arial;}
.u-table tr.tr1{background:#f1f1f1;}
.u-fieldset{border:dotted 1px #e5e5e5;position:relative;padding:20px;border-radius:4px;margin-top:1em;}
.u-fieldset .u-fieldset-legend{position:absolute;left:8px;top:-0.4em;background:#fff;color:#777;padding:0 20px 0 12px;}
.u-note{background:#e7e7e7;color:#494949;padding:6px;letter-spacing:1px;border-radius:2px;}
.u-cb:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.u-cb{zoom:1;}
.u-nvg{display:block;background:#f9f9f9;}
.u-nvg .u-nvg-li{display:inline-block;vertical-align:baseline;zoom:1;*display:inline;*vertical-align:auto;float:left;padding:8px 30px;background:#eee;color:#444;-webkit-transition:0.16s;-moz-transition:0.16s;transition:0.16s;}
.u-nvg .u-nvg-li:hover{background:#ddd;-webkit-transition:0.16s;-moz-transition:0.16s;transition:0.16s;}
.u-nvg .u-nvg-li.atv{background:#444;color:#fff;}
.u-nvg .u-nvg-li.atv:hover{background:#303030;}
.u-nvg .u-nvg-li.back{background:#eee;color:#444;margin-right:6px;}
.u-nvg .u-nvg-li.back:hover{background:#ddd;}
.u-datepick{border:solid 1px #616161;margin-top:3px;box-shadow:0 2px 2px #c1c1c1;}
.u-datepick .zcard{border:0;}
.u-datepick .zact{background:#444;color:#fff;font-family:"Microsoft YaHei",tahoma,arial;padding-bottom:1px;}
.u-datepick .zact .zfl,.u-datepick .zact .zfr{font-family:simsun;background:#4f4f4f;margin:1px;color:#c8c8c8;}
.u-datepick .zact .zfl:hover,.u-datepick .zact .zfr:hover{background:#747474;}
.u-datepick .zday th,.u-datepick .zday td{text-align:center;}
.u-datepick .zday th{padding:7px 0;background:#f4f4f4;color:#777;border-bottom:solid 1px #fff;font-family:"Microsoft YaHei",tahoma,arial;}
.u-datepick .zday td a{background:#f5f5f5;margin:0 1px 1px 0;}
.u-datepick .zday td a.js-selected,.u-datepick .zday td a.js-selected:hover{background:#444;color:#fff;}
.u-datepick .zday td a:hover{background:#747474;color:#fff;}
.u-fontw{font-family:"Microsoft YaHei",tahoma,arial;}
.u-show-success i{display:table-cell;width:20px;padding-right:10px;vertical-align:middle;background:url("/res/usercenter/uc/icon_right.png") no-repeat 0 45%;}
.u-show{width:208px;box-sizing:border-box;padding:25px 20px;background:#555;color:#fff;font-size:14px;box-shadow:0 2px 5px #a0a0a0;box-shadow:0 2px 5px rgba(0,0,0,0.2);border-radius:2px;text-align:center;}
.u-show .u-tips{display:table;table-layout:fixed;max-width:168px;min-height:25px;margin:0 auto;text-align:center;}
.u-show .u-tips span{display:table-cell;box-sizing:border-box;text-align:center;line-height:18px;word-wrap:break-word;word-break:break-all;white-space:normal;vertical-align:middle;}
.u-show.u-show-hide{display:none;transition:0.3s;}
.u-show.u-show-show{display:block;position:relative;left:-50%;top:-35px;transition:0.3s;}
.u-loading{text-align:center;padding:30px 0;}
.u-loading .loading-p{margin-top:20px;color:#5c5c5c;margin-bottom:23px;}
.u-loading .ico{color:#c5c5c5;font-size:30px;}
.u-loading .desc{color:#c5c5c5;}
.u-dn{display:none;}
.u-container{width:1190px;margin-right:auto;margin-left:auto;}
.u-horizontal-list{margin:0;padding:0;}
.u-horizontal-list li{float:left;list-style:none;}
.u-horizontal-list.has-separator li:after{content:"|";color:#dfdfdf;}
.u-horizontal-list.has-separator li:last-child:after{content:none;}
