
.m-home{
  .n-overall{
    width: 1016px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: solid 1px #e4e4e4;
    .u-cell{
      float:left;
      width: 325px;
      text-align: center;
      //height: 195px;
      //border: solid 1px #f8f8f8;
      .u-face{
        margin: auto;
        width: 175px;
        height: 175px;
        border: 1px solid #f8f8f8;
        border-radius: 175px;
      }
      //img{
      //  width: 175px;
      //  height: 175px;
      //  border-radius: 175px;
      //}
      .u-des{
        margin-top: 20px;
        //margin-left: 334px;
      }
      .u-line{
        margin: 10px auto 10px;
        width: 32px;
        border-bottom: 1px solid red;
      }
    }

    .u-more{
      margin: auto;
      width: 164px;
      height: 46px;
      margin-top: 380px;
      border: 1px solid #287bbb;
      border-radius: 46px;
      line-height: 46px;
      text-align: center;
      color: #287bbb;
    }
  }
  .n-technical-note{
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: solid 1px #e4e4e4;
    .u-title{
      margin: 50px auto 20px;
      width: 100px;
      font-size: 24px;
      color: #3b444f;
    }
    .u-line{
      margin: 0px auto 40px;
      width: 32px;
      border-bottom: 1px solid red;
    }
    .u-note{
      float:left;
      border: solid 1px #f8f8f8;
      img{
        width: 588px;
        height: 300px;
      }
    }

  }
  .n-solution{
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: solid 1px #e4e4e4;
    .u-title{
      margin: 50px auto 20px;
      width: 100px;
      font-size: 24px;
      color: #3b444f;
    }
    .u-line{
      margin: 0px auto 40px;
      width: 32px;
      border-bottom: 1px solid red;
    }
    .u-cell{
      float:left;
      width: 588px;
      //height: 195px;
      border: solid 1px #f8f8f8;
      img{
        float: left;
        width: 314px;
        height: 195px;
      }
      .u-des{
        margin-left: 334px;
        .u-content{
          margin-top: 10px;
        }
        .title{
          margin-top: 10px;
          font-size: 24px;
          color: #db1a12;
        }
      }
    }

    .u-more{
      margin: auto;
      width: 164px;
      height: 46px;
      margin-top: 280px;
      border: 1px solid #287bbb;
      border-radius: 46px;
      line-height: 46px;
      text-align: center;
      color: #287bbb;
    }
  }
}

