
.m-technical{
  width: 1010px;
  margin: auto;
  margin-top: 20px;
  font-size: 14px;
  .u-content{
    margin-top: 20px;
    p{
      text-indent: 26px;
    }
  }
  .title{
    font-weight: bold;
  }
  .content{
    margin-top: 10px;
  }
  .pic{
    margin-top: 40px;
  }
}



